<section class="relative">
	<!-- Google maps -->
	<div id="js-map" class="h-[80vh]"></div>

	<!-- Input com localizacao -->
	<input type="hidden" name="localizacao" value="" class="js-localizacao">

	<button onclick="modalAbrir()" class="flex items-center gap-2 absolute bottom-8 right-16 bg-blue-500 text-white rounded-full px-4 py-2">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
		Adicionar ecoponto
	</button>

	<ul class="absolute bottom-24 right-16 h-96 overflow-y-scroll flex flex-col gap-4">
		{{itens}}
		{{paginacao}}
	</ul>
</section>

<!-- Modais -->
<dialog class="p-0 rounded-xl js-modal-ecoponto">
	<div class="relative grid gap-8 bg-white text-gray-800 p-16">
		<!-- Botao modal fechar  -->
		<button onclick="modalFechar()" class="top-8 right-8 absolute">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-5 pointer-events-none"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
		</button>

		<h3 class="text-2xl font-bold">Cadastrar um ecoponto</h3>

		<form method="post" action="?pagina=1" class="grid gap-4 js-ecoponto-form">
			<div class="grid gap-1">
				<label for="endereco">Endereço</label>
				<input type="text" name="endereco" required id="endereco" class="px-2 py-1 border border-solid border-gray-200 outline-none rounded-md js-modal-ecoponto-endereco">
			</div>

			<div class="grid gap-1">
				<label for="tag">Tag</label>
				<input type="text" name="tag" required id="tag" class="px-2 py-1 border border-solid border-gray-200 outline-none rounded-md js-modal-ecoponto-endereco">
			</div>
			<button type="submit" class="bg-blue-500 text-white rounded-md px-4 py-2">Adicionar</button>
		</form>
	</div>
</dialog>

<!-- Script da API Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAotx4qUJW0uJucxhe1uskX9-SaA4tT2kI&callback=initMap"></script>
<script async defer>
	let map
	
	function initMap() {
		const localizacaoPadrao = {lat:-23.549207347886, lng:-46.37388629155516}

		map = new google.maps.Map(document.getElementById("js-map"), {
			center: localizacaoPadrao,
			zoom: 20,
		})
	}

	window.initMap = initMap
</script>

<!-- Script da página -->
<script async defer>
	document.addEventListener('DOMContentLoaded', () => {
		setTimeout(ecopontoPegar,1000)
	})


	function modalAbrir() {
		const $modal = document.querySelector('.js-modal-ecoponto')
		$modal.showModal()
	}


	function modalFechar() {
		const $modal = document.querySelector('.js-modal-ecoponto')
		$modal.close()
	}


	function mapaMarkerAdicionar(endereco) {
		const infowindow = new google.maps.InfoWindow({
  		content: `<did class="p-4 text-base"><h3>${endereco}</h3><p>Ecoponto</p></div>`
		})

		// Cria uma nova instância do objeto Geocoder
		const geocoder = new google.maps.Geocoder()

		// Faz a geocodificação do endereço
		geocoder.geocode({address: endereco}, function(resultado, status) {
			if (status === 'OK') {
				// Obtém a latitude e longitude do primeiro resultado retornado
				const lat = resultado[0].geometry.location.lat()
				const lng = resultado[0].geometry.location.lng()
				
				// Use lat e lng como necessário
				console.log(lat, lng)

				const marker = new google.maps.Marker({
					position: {lat: lat, lng: lng}, // Coordenadas recuperadas
					map: map,
					title: 'Ecoponto' // Título do marcador
				})


				marker.addListener('click', function() {
					infowindow.open(map, marker)
				})
			}
			else {
				console.log('Geocode não foi bem-sucedido devido a: ' + status)
			}
		})
	}


	function ecopontoPegar() {
		const $enderecos = document.querySelectorAll('.js-ecoponto-endereco')
		console.log($enderecos)

		$enderecos.
			forEach($alvo => {
				mapaMarkerAdicionar($alvo.innerText)
			})
	}
</script>