<section class="relative">
	<!-- Google maps -->
	<div id="js-map" class="h-[80vh]"></div>

	<!-- Input com localizacao -->
	<input type="hidden" name="localizacao" value="" class="js-localizacao">

	<ul class="absolute bottom-24 right-16 h-96 overflow-y-scroll flex flex-col gap-4">
		{{itens}}
		{{paginacao}}
	</ul>
</section>

<!-- Script da API Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAotx4qUJW0uJucxhe1uskX9-SaA4tT2kI&callback=initMap"></script>
<script async defer>
	let map
	
	function initMap() {
		const localizacaoPadrao = {lat:-23.549207347886, lng:-46.37388629155516}

		map = new google.maps.Map(document.getElementById("js-map"), {
			center: localizacaoPadrao,
			zoom: 20,
		})
	}

	window.initMap = initMap
</script>

<!-- Script da página -->
<script async defer>
	document.addEventListener('DOMContentLoaded', () => {
		setTimeout(ecopontoPegar,1000)
	})


	function mapaMarkerAdicionar($item, endereco) {
		const infowindow = new google.maps.InfoWindow({
  		content: `<did class="p-4 text-base"><h3>${endereco}</h3><p>Ecoponto</p></div>`
		})

		// Cria uma nova instância do objeto Geocoder
		const geocoder = new google.maps.Geocoder()

		// Faz a geocodificação do endereço
		geocoder.geocode({address: endereco}, function(resultado, status) {
			if (status === 'OK') {
				// Obtém a latitude e longitude do primeiro resultado retornado
				const lat = resultado[0].geometry.location.lat()
				const lng = resultado[0].geometry.location.lng()
				
				// Use lat e lng como necessário
				console.log(lat, lng)

				const marker = new google.maps.Marker({
					position: {lat: lat, lng: lng}, // Coordenadas recuperadas
					map: map,
					title: 'Ecoponto' // Título do marcador
				})


				marker.addListener('click', function() {
					infowindow.open(map, marker)
				})

				$item.addEventListener('click', function() {
					map.panTo(marker.getPosition())
				})


			}
			else {
				console.log('Geocode não foi bem-sucedido devido a: ' + status)
			}
		})
	}


	function ecopontoPegar() {
		const $enderecos = document.querySelectorAll('.js-ecoponto-endereco')

		$enderecos.
			forEach($alvo => {
				const $item = $alvo.closest('.js-ecoponto-item')
				mapaMarkerAdicionar($item, $alvo.innerText)
			})
	}
</script>