<main class="">
  {{nome}}
  <!-- O que é o Lixo eletronico -->
  <section class="py-16 grid gap-2">
      <div class="container mx-auto">
        <h2 class="mb-4 font-bold text-xl">O que é o Lixo eletronico</h2>
        <div class="flex gap-4">
          <p class="flex-shrink max-w-prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="flex-grow flex-shrink-0 w-96 h-96">
            <img src="src/view/paginas/lixo-eletronico.webp" class="w-full h-full object-contain" alt="teste">
          </div>
        </div>
      </div>
    </section>
  <!-- Descarte incorreto -->
  <section class="py-20 bg-gray-100 grid gap-2">
    <div class="container mx-auto">
      <h2 class="mb-4 font-bold text-xl">Descarte incorreto e suas consequencias</h2>
      
      <div class="grid gap-4">
          <p class="flex-shrink max-w-prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="flex gap-4">
            <div class="grid grid-cols-2 rounded-lg bg-red-500 overflow-hidden">
              <div class="flex-grow px-4 py-6">
                <h3 class="font-bold text-lg">Descarte incorreto:</h3>
                <ul>
                  <li>No meio ambiente</li>
                  <li>Lixo comum</li>
                  <li>Metais pesados</li>
                </ul>
              </div>
              <picture><img src="src/view/paginas/lixo-eletronico.webp" alt="teste" class="w-full h-full object-cover"></picture>
            </div>
            <div class="grid grid-cols-2 rounded-lg bg-blue-500 overflow-hidden">
              <div class="px-4 py-6">
                <h3 class="font-bold text-lg">Descarte incorreto:</h3>
                <ul>
                  <li>No meio ambiente</li>
                  <li>Lixo comum</li>
                  <li>Metais pesados</li>
                </ul>
              </div>
              <picture><img src="src/view/paginas/lixo-eletronico.webp" alt="teste" class="w-full h-full object-cover"></picture>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- O que é o eNaturalist -->
  <section class="py-20 bg-gray-50 grid gap-2">
      <div class="container mx-auto">
        <h2 class="mb-4 font-bold text-xl">Quem somos</h2>
        <div class="flex gap-4">
          <div class="flex-grow flex-shrink-0 w-96 h-96 bg-green-500"></div>
          <p class="flex-shrink max-w-prose">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>
</main>