<header class="py-6 border-b border-solid border-gray-200">
  <div class="mx-auto container">
    <div class="flex justify-between">

      <h1 class="font-bold tracking-widest text-lg">Logo</h1>

      <div class="flex items-center gap-8">
        <nav>
          <ul class="flex gap-4">
            <li><a href="{{URL}}">Home</a></li>
            <li><a href="{{URL}}/ecopontos">Ecopontos</a></li>
            <li><a href="#">Pontos de coleta</a></li>
          </ul>
        </nav>

        <div class="flex items-center gap-2">
          <a href="#" class="px-4 py-2 tracking-widest bg-blue-500 text-white rounded-full">Login</a>
          <a href="#" class="px-4 py-2 tracking-widest bg-blue-500 text-white rounded-full">Cadastrar</a>
        </div>
      </div>

    </div>
  </div>
</header>