body {
  font-family: 'Montserrat', sans-serif;
}


/* ----------------------- */
/* ----- componentes ----- */
/* ----------------------- */
.botao {
  display: block;
  padding: 0.5rem 2rem;
  border-radius: 50vw;
  background-color: black;
  color: white;
  transition: background-color 200ms ease-in-out;
}

.botao:where(:hover, :focus) {
  background-color: rgba(0, 0, 0, 0.767);
}


/* ---------------------- */
/* ----- utilidades ----- */
/* ---------------------- */
.flex-space {
  display: flex;
  align-items: center;
  gap: 1rem;
}