<a href="{{URL}}/admin/ecopontos-instituicao" class="flex items-center gap-1 w-min my-4 bg-blue-500 text-white rounded-md px-4 py-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/></svg>
  Voltar
</a>
<form method="post" class="mx-auto max-w-lg py-6 grid gap-4">
  <fieldset>
    <div class="grid gap-4 text-gray-800">
      <legend class="text-2xl font-bold mb-4">Editar endereço do ecoponto</legend>
      <div class="grid relative">
        <label for="cep" class="mb-1 pl-2">CEP</label>
        <input type="text" name="cep" id="cep" value="{{cep}}" oninput="cepFormatar()" maxlength="9" class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
      <div class="grid relative">
        <label for="rua" class="mb-1 pl-2">Rua</label>
        <input type="text" name="rua" id="rua" value="{{rua}}"  class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
      <div class="grid relative">
        <label for="numero" class="mb-1 pl-2">Número</label>
        <input type="text" name="numero" value="{{numero}}"  id="numero" class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
      <div class="grid relative">
        <label for="bairro" class="mb-1 pl-2">Bairro</label>
        <input type="text" name="bairro" value="{{bairro}}"  id="bairro" class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
      <div class="grid relative">
        <label for="cidade" class="mb-1 pl-2">Cidade</label>
        <input type="text" name="cidade" value="{{cidade}}" id="cidade" required class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
      <div class="grid relative">
        <label for="estado" class="mb-1 pl-2">Estado</label>
        <select name="estado" id="estado" class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
          <option value="">Selecione um estado</option>
          {{estado}}
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="tag" class="mb-1 pl-2">Tag</label>
        <input type="text" name="tag" value="{{tag}}" id="tag" class="px-2 p-2 border border-solid border-gray-200 outline-none transition focus:ring focus:ring-blue-500 rounded-md">
      </div>
    </div>
  </fieldset>
  <button type="submit" class="mt-4 tracking-widest text-lg font-bold self-end bg-blue-500 text-white rounded-md px-4 py-2">Salvar</button>
</form>