<a href="{{URL}}/admin/ecopontos" class="flex items-center gap-1 w-min my-4 bg-blue-500 text-white rounded-md px-4 py-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/></svg>
  Voltar
</a>
<form method="post" class="py-6 flex items-center gap-4">
  <div>Deseja excluir o Ecoponto <span class="font-bold">{{endereco}}</span> - <span class="font-bold">{{tag}}</span></div>
  <button type="submit" class="self-end bg-blue-500 text-white rounded-md px-4 py-2">Excluir</button>
</form>